.row
  .col-xs-12.col-md-5.text-center
    =render template: 'static_pages/about'
  .col-xs-12.col-md-7
    %h1.text-center Leave a comment!
    %table.table.datatable
      %thead
        %tr
          %th.text-center.hidden-xs Name
          %th.text-center Title
          %th.text-center.hidden-xs Content
          %th.text-center Actions
          //%th.text-center{:colspan => "3"} Actions
      %tbody.text-center
        - @posts.each do |post|
          %tr
            %td.hidden-xs= post.user.nil? ? "Anonymous" : post.user.name
            %td= post.title
            %td.hidden-xs= post.content
            %td
              = link_to '', post, class: 'btn btn-warning fa fa-2x fa-eye', title: 'Show'
              -if !post.user.nil? && post.user.id == current_user.id
                = link_to '', edit_post_path(post), class: 'btn btn-primary fa fa-2x fa-edit', title: 'Edit'
                = link_to '', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger fa fa-2x fa-close', title: 'Destroy'
    %br/
    = link_to 'New Post', new_post_path, class: 'btn btn-success btn-lg btn-block'
